body{
    width:1440px;
    background:lightgrey;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height:100vh ;

}
.card {
    margin: 0;
    background: white;
    height:500px;
    width:350px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.code {
    width: 300px;
    margin-top:20px;
    margin-left:23px;
    padding:0;
    border: 1px solid white;
    border-radius: 20px;

}
.header {
    text-align: center;
    font-size: 12px;
    margin: 0 10px;
}
.bottom-text {
    text-align: center;
    margin: 0 10px;

}
.attribution {
    margin-top:20px;
}