body{
    width:1440px;
    background:lightgrey;
}
.card {
    height:500px;
    width: 350px;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    margin-left: 200px;
    margin-top: 150px;
    background-color: white;
    
}
.lower-text {
    margin-top: 300px;;
}

